<footer"> 
    <div class="container footer">
        <div>
            <h1 id="logoTextFooter"> <img src="images/cocktail.svg" height="20px" width="20px" alt="cocktail-logo"> PURE </h1> 
        </div>
        <div>
            <h1 id="nameFooter">WILBER AMAYA © <%= Year %></h1>
        </div>
    </div>
</footer>