<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PURE</title>
    <link rel="icon" type="image/svg" href="images/favicon.svg">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri&family=Work+Sans&display=swap" rel="stylesheet">
</head>
<header>
    <div class="container header">
        <div>
            <a href="/"><h1 id="logoText"> <img src="images/cocktail.svg" height="50px" width="50px" alt="cocktail-logo"> PURE </h1> </a>
        </div>
        <div>
            <h1>R/ COCKTAIL GEN</h1>
        </div>
    </div>
</header>

