<%- include("Partials/header.ejs") %>

<body>
    <div class="container card">
        <a href="/generated" type="submit" value="GET">
            <img src="images/Home_cocktail_img.jpg" height="615px" width="415px" id="homeImg">
        </a>
    </div>
    <p id="homeImageLabel">/ CLICK IMAGE TO GENERATE /</p>
</body>

<%- include("Partials/footer.ejs") %>